* {
    padding: 0;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

}
.sold {
    background-color: red;
    text-align: center;
    width: 300px;
    padding: 60px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 38%);
}

.aim {
    background-color: blue;
    text-align: center;
    width: 300px;
    padding: 60px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 38%);
}

.earned {
    background-color: darkgreen;
    text-align: center;
    width: 300px;
    padding: 60px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 38%);
}

